//Colors
$battery:#8BC34A;
$house: #607D8B;
$solar: #ffa600;
$grid: #adadad;


@import '_mixins';
@import '_variables';
@import '_helpers.scss';
@import '_general.scss';
@import '_card.scss';
@import '_infobox.scss';
@import '_charts.scss';
@import 'theme-blue-grey.scss';

.realtime {
  .flot-chart {
    display:none;
    opacity:0;
  }
  .showme {
    display: block;
    opacity:1;
  }
}


#battery-status .material-icons {
    width:60px;
    height:60px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgba(255,255,255,0.25);
    &.battery-full,
    &.animate1 {
        mask-image: url('/img/device/svg/production/ic_battery_full_48px.svg');
    }
    &.battery-90,
    &.animate2 {
        mask-image: url('/img/device/svg/production/ic_battery_90_48px.svg');
    }
    &.battery-80,
    &.animate3 {
        mask-image: url('/img/device/svg/production/ic_battery_80_48px.svg');
    }
    &.battery-60,
    &.animate4 {
        mask-image: url('/img/device/svg/production/ic_battery_60_48px.svg');
    }
    &.battery-50,
    &.animate5 {
        mask-image: url('/img/device/svg/production/ic_battery_50_48px.svg');
    }
    &.battery-30,
    &.animate6 {
        mask-image: url('/img/device/svg/production/ic_battery_30_48px.svg');
    }
    &.battery-20,
    &.animate7 {
        mask-image: url('/img/device/svg/production/ic_battery_20_48px.svg');
    }
    &.battery_charging {
        mask-image: url('/img/device/svg/production/ic_battery_charging_full_48px.svg');
    }
}
.card {
  .header {
    h2 {
      color: #ccc;
      display:inline-block;
      //min-width: 35%; //for later....
    }
    .output {
      //float:right;
      position: absolute;
      right:80px;
      display:inline-block;
      span {
        padding:0 15px;
      }

      .solar {
        color:$solar;
      }
      .batt {
        color:$battery;
      }
      .grid {
        color: $grid;
      }
    }
  }
}
.solar-breakdown {
    h3 {
        color: #ccc;
        font-weight: normal;
        font-size: 16px;
        opacity:0.5;
    }
}
#grid_cost {
    #cost-output {
        .number {
            font-size: 16px;
            margin-top: 3px;
        }
    }
}
div[class^="info-box"] {
  background-color: rgba(0,0,0,0.1);
  border-radius: 6px;
  .content {
      .text {
          color: #555;
      }

      .number {
          color: #a1a1a1;
      }
  }
}
#cost-output {
  padding-top: 18px;
  padding-left: 20px;
  > div {
    color: #a1a1a1;
    font-weight: normal;
    font-size: 16px;
  }
}
#battery-status {
  .content {
    .number {
      //color: $battery;
    }
  }
}
