.material-icons {
    width:60px;
    height:60px;

    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: rgba(0,0,0,0.5);
    &.battery-full, 
    &.animate1 {
        mask-image: url('/img/device/svg/production/ic_battery_full_48px.svg');
    }
    &.battery-90,
    &.animate2 {
        mask-image: url('/img/device/svg/production/ic_battery_90_48px.svg');
    }
    &.battery-80,
    &.animate3 {
        mask-image: url('/img/device/svg/production/ic_battery_80_48px.svg');
    }
    &.battery-60,
    &.animate4 {
        mask-image: url('/img/device/svg/production/ic_battery_60_48px.svg');
    }
    &.battery-50,
    &.animate5 {
        mask-image: url('/img/device/svg/production/ic_battery_50_48px.svg');
    }
    &.battery-30,
    &.animate6 {
        mask-image: url('/img/device/svg/production/ic_battery_30_48px.svg');
    }
    &.battery-20,
    &.animate7 {
        mask-image: url('/img/device/svg/production/ic_battery_20_48px.svg');
    }
    &.battery_charging {
        mask-image: url('/img/device/svg/production/ic_battery_charging_full_48px.svg');
    }
}
.card .header h2 {
    color: #ccc;
}
.solar-breakdown {
    h3 {
        color: #ccc;
        font-weight: normal;
        font-size: 16px;
        opacity:0.5;
    }
}
#grid_cost {
    #cost-output {
        .number {
            font-size: 16px;
            margin-top: 3px;
        }
    }
}